{% extends 'python_base.html' %}
{%block content%}
<div class="card-text text-left" >
<h1 class="card-title">숫자 계산하기</h1>
<br>
 +, -, *, / 연산자들은 대부분의 다른 언어들처럼 동작합니다; <br>
 괄호 (()) 는 묶는 데 사용합니다.<br>
<img src="/static/images/python_2.png"><br><br>
정수는 int 형입니다. 소수부가 있는 것들 은 float 형입니다.<br>
나눗셈 (/) 은 항상 float를 돌려줍니다. <br><br>
정수 나눗셈 으로 (소수부 없이) 정수 결과를 얻으려면<br>
 // 연산자를 사용하면 됩니다; 나머지를 얻으려면 % 를 사용할 수 있습니다:<br>
<img src="/static/images/python_3.png"><br><br>
파이썬에서는 거듭제곱을 계산할 때 ** 연산자를 사용합니다.<br>
<img src="/static/images/python_4.png"><br><br>
변수에 값을 대입할 때는 등호(=)를 사용합니다. 이 경우 다음 대화형 프롬프트 전에 표시되는 출력은 없습니다:<br>
<img src="/static/images/python_1.png"><br><br>
 

</div>
{%endblock%}