{% extends 'python_base.html' %}
{%block content%}
<div class="card-text text-left" >
<h1 class="card-title">예외처리</h1>

문장이나 표현식이 문법적으로 올바르다 할지라도, <br>
실행하려고 하면 에러를 일으킬 수 있습니다. <br>
실행 중에 감지되는 에러들을 예외 라고 부르고 무조건 치명적이지는 않습니다: <br>
선택한 예외를 처리하는 프로그램을 만드는 것이 가능합니다.<br>
 다음 예를 보면, 올바를 정수가 입력될 때까지 사용자에게 입력을 요청하지만, 사용자가 프로그램을 인터럽트 하는 것을 허용합니다<br>
<img src="/static/images/python_28.png"><br><br>
•	먼저, try 절 (try 와 except 사이의 문장들) 이 실행됩니다.<br>
•	예외가 발생하지 않으면, except 절 을 건너뛰고 try 문의 실행은 종료됩니다.<br>
•	try 절을 실행하는 동안 예외가 발생하면, 절의 남은 부분들을 건너뜁니다<br>
. 그런 다음 형이 except 키워드 뒤에 오는 예외 이름과 매치되면,<br>
 그 except 절이 실행되고, 그런 다음 실행은 try 문 뒤로 이어집니다.<br>
•	except 절에 있는 예외 이름들과 매치되지 않는 예외가 발생하면, <br>
외부에 있는 try 문으로 전달됩니다; 처리기가 발견되지 않으면, <br>
처리되지 않은 예외 이고 위에서 보인 것과 같은 메시지를 출력하면서 실행이 멈춥니다.<br>





</div>
{%endblock%}