{% extends 'python_base.html' %}
{%block content%}
<div class="card-text text-left" >
<h1 class="card-title">함수 정의하기</h1>


키워드 def는 함수 정의를 시작합니다. 함수 이름과 <br>
괄호로 싸인 형식 매개변수들의 목록이 뒤따릅니다. <br>
함수의 바디를 형성하는 문장들이 다음 줄에서 시작되고,<br>
 반드시 들여쓰기 되어야 합니다.<br>
<img src="/static/images/python_23.png"><br><br>
<h1 class="card-title">튜플과 시퀀스</h1><br>
리스트와 문자열이 인덱싱과 슬라이싱 연산과 같은 많은 성질을 공유함을 보았습니다.<br>
 이것들은 시퀀스 자료 형의 두 가지 예입니다. 파이썬은 진화하는 언어이기 때문에,<br>
  다른 시퀀스 자료형이 추가될 수도 있습니다. 다른 표준 시퀀스 자료 형이 튜플 입니다.<br>
<img src="/static/images/python_23_1.png"><br><br>
출력되는 튜플은 항상 괄호로 둘러싸입니다, 그래서 중첩된 튜플이 올바르게 해석됩니다. <br>
종종 괄호가 필요하기는 하지만 (튜플이 더 큰 표현식의 일부일 때),<br>
 둘러싼 괄호와 함께 또는 없이 입력될 수 있습니다. 튜플의 개별 항목에 대입하는 것은<br>
  가능하지 않지만, 리스트 같은 가변 객체를 포함하는 튜플을 만들 수는 있습니다.<br>
튜플이 리스트처럼 보인다 하더라도, 이것들은 다른 상황에서 다른 목적으로 사용됩니다.<br>
 튜플은 불변 이고, 보통 이질적인 요소들의 시퀀스를 포함합니다. 요소들은 언 패킹 (이 섹션의 뒤에 나온다) 이나 <br>
 인덱싱 (또는 네임드 튜플 의 경우는 어트리뷰트로도) 으로 액세스합니다. 리스트는 가변 이고,<br>
  요소들은 보통 등질 적이고 리스트에 대한 이터레이션으로 액세스 됩니다.<br>

</div>
{%endblock%}