{% extends 'python_base.html' %}
{%block content%}
<div class="card-text text-left" >
<h1 class="card-title">문자열</h1>
숫자와는 별개로, 파이썬은 문자열도 다룰 수 있는데 여러 가지 방법으로 표현됩니다. <br>
1.작은따옴표('...') 나 큰따옴표("...")로 둘러쌀 수 있는데 모두 같은 결과를 줍니다 <br>
2. 따옴표를 이스케이핑 할 때는 \ 를 사용할 수 있습니다:<br>
<img src="/static/images/python_5.png"><br><br>
print를 사용하여 출력합니다.<br>
<img src="/static/images/python_6.png"><br><br>
두 개 이상의 문자열 리터럴 (즉, 따옴표로 둘러싸인 것들) 가 연속해서 나타나면 자동으로 이어 붙여집니다.<br>
<img src="/static/images/python_7.png"><br><br>
변수들끼리 혹은 변수와 문자열 리터럴을 이어붙이려면 + 를 사용해야 합니다<br>
<img src="/static/images/python_8.png"><br><br>


</div>
{%endblock%}