{% extends 'python_base.html' %}
{%block content%}
<div class="card-text text-left" >
<h1 class="card-title">리스트</h1>

파이썬은 다른 값들을 덩어리로 묶는데 사용되는 여러 가지 컴파운드 (compound)<br>
 자료 형을 알고 있습니다. 가장 융통성이 있는 것은 리스트 인데, <br>
 대괄호 사이에 쉼표로 구분된 값(항목)들의 목록으로 표현될 수 있습니다. <br>
 리스트는 서로 다른 형의 항목들을 포함할 수 있지만, 항목들이 모두 같은 형인 경우가 많습니다<br>
<img src="/static/images/python_9.png"><br><br>
문자열(그리고, 다른 모든 내장 시퀀스 형들)처럼 리스트는 인덱싱하고 슬라이싱할 수 있습니다:<br>
<img src="/static/images/python_10.png"><br><br>
리스트는 이어붙이기 같은 연산도 지원합니다:<br>
<img src="/static/images/python_11.png"><br><br>
리스트는 가변 입니다. 즉 내용을 변경할 수 있습니다:<br>
<img src="/static/images/python_12.png"><br><br>
append() 메서드 (method) (나중에 메서드에 대해 더 자세히 알아볼 것입니다)<br>
 를 사용하면 리스트의 끝에 새 항목을 추가할 수 있습니다:<br>
<img src="/static/images/python_13_1.png"><br><br>
슬라이스에 대입하는 것도 가능한데, 리스트의 길이를 변경할 수 있고, 모든 항목을 삭제할 수조차 있습니다:<br>
<img src="/static/images/python_13.png"><br><br>
내장 함수 len() 은 리스트에도 적용됩니다.<br>
<img src="/static/images/python_14.png"><br><br>
리스트를 중첩할 수도 있습니다. (다른 리스트를 포함하는 리스트를 만듭니다).<br>
<img src="/static/images/python_15.png"><br><br>
 

</div>
{%endblock%}